.container-body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main{
    display: flex;
    background-size:contain;
    background-image: url("Renegade/assets/bgTest.png");
    margin-top: 80px;
    height: 2000px;
    width: 1000px;
    border: 0px solid rgb(35, 35, 35);
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    -webkit-box-shadow: 10px 10px 92px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 92px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 92px 0px rgba(0,0,0,0.75);
    
}

.security-level{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(53, 53, 53);
    height: 10px;
    width: 200px;
    border-radius: 5px;
}

.level{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 0);
    border-radius: 5px;
}

.sec{
    color: rgb(116, 116, 116);
}

