.body{
    display: flex;

    align-content: center;
    justify-content: center;
    text-align: center;
}

.weapons{
    display: flex;
    margin-top: 80px;
    height: 1000px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    background-color: rgb(19, 19, 19);
}

.weapon-grid{
    display: flex;
    height: 1000px;
    width: 1500px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.weapons-holder{
    display: flex;
}

.weapon-item{
    width: 300px;
    border: 1px;
}

h1{
    font-size: 1.5rem;
    color: rgb(245, 245, 245);
}

.h1-variant{
    font-size: 4rem;
    color: rgb(245, 245, 245);

}

p{
    font-size: .8rem;
    margin-top: 20px;
}

@media( max-width: 1500px){

    .weapons{
        margin-top: 150px;
    }

    .weapon-grid{
        width: 1000px;
    }

    .weapon-img{
        width: 200px;
    }

    .weapon-item{
        width: 200px;
    }
}

@media( max-width: 800px){

    .weapons{
        margin-top: 150px;
    }

    .weapon-grid{
        width: 100%;
    }

    .weapon-img{
        width: 200px;
    }

    .weapon-item{
        width: 200px;
    }
}
