<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renegade</title>
    <link rel="icon" type="image/x-icon" href="{% static './assets/RenegadeIcon(1).png'%}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/store-style.css'%}">

    <script>
        function purchaseItem(itemId){
            window.location.href = '/purchase/' + itemId + '/';
        }
    </script>
    
</head>

<body>
    <div class="top-bar">
        <div class="bar icon"><a href="{%url 'index'%}"><img src="{% static './assets/RenegadeIcon(1).png' %}" alt="Icon" width="100%"></a></div>
        <div class="bar bar-btn1"><a href="{% url 'game' %}" class="menu"> JUEGO </a></div>
        <div class="bar bar-btn2"><a href="{% url 'zones' %}" class="menu"> ZONAS </a></div>
        <div class="bar bar-btn3"><a href="{% url 'weapons' %}" class="menu"> ARMAS </a></div>
        <div class="bar bar-btn4"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> ENEMIGOS </a></div>
        <div class="bar bar-btn5"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> ACTUALIZACIONES</a></div>
        <div class="bar bar-btn6"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> SOBRE NOSOTROS</a></div>
        <div class="bar bar-btn7"><a href="{% url 'store' %}" class="menu"> TIENDA </a></div>
        <div class="bar display-btn"><button onclick="TopBar()"><img src="{% static './assets/DisplayIcon.png' %}" alt="display" width="100%"></button></div>
        <div class="bar playnow-btn"><a href="{% url 'register' %}"><button class="playnow">PREORDENA</button></a></div>
    </div>

    <div class="top-bar-display" id="TopMenu">
        <div class="bar-b bar-btnB1"><a href="{% url 'game' %}" class="menu"> JUEGO </a></div>
        <div class="bar-b bar-btnB2"><a href="{% url 'zones' %}" class="menu"> ZONAS </a></div>
        <div class="bar-b bar-btnB3"><a href="{% url 'weapons' %}" class="menu"> ARMAS </a></div>
        <div class="bar-b bar-btnB4"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> ENEMIGOS </a></div>
        <div class="bar-b bar-btnB5"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> ACTUALIZACIONES</a></div>
        <div class="bar-b bar-btnB6"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="menu" style="pointer-events: none; color: rgb(93, 93, 93);"> SOBRE NOSOTROS</a></div>
        <div class="bar-b bar-btnB7"><a href="{% url 'store' %}" class="menu"> TIENDA </a></div>
    </div>


    <div class="container-body">
        <div class="container weapons">
            <div>
                <h1></h1>
                <H1 class="h1-variant">TIENDA</H1>
            </div>

            <p>Tienda de productos oficiales. Acá podrás tanto comprar el juego en su formato digital como apoyar a los
                desarrolladores comprando contenido único del juego.</p>
            
            {% for storeitem in storeitem %}
            <div class="card">
                <img src="..{{ storeitem.baseimg.url }}" alt="" heigh="408px" width="264px">
                <div class="card-data">
                    <div class="card-name">{{storeitem.name}}</div>
                    <div class="card-type">{{storeitem.type}}</div>
                    <div class="card-description des">{{storeitem.description}}</div>
                    <div class="card-description"></div>
                    <div class="card-description price">${{storeitem.price}} USD</div>
                    <div class="card-description"></div>
                    <div class="card-description habilidad"><button onclick="purchaseItem('{{storeitem.item_id}}')" class="purshase-btn">COMPRAR</button></div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <script src="{% static './js/index.js'%}" defer></script>
</body>