body{
    background-color: rgb(30, 30, 30);
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 0px;
    text-align: center;
    justify-items: center;
    background-color: #111111;
    /* background-image: url("../assets/Banner test.png"); */
    border-radius: 0%;
    flex-direction: row;
}

.bar-b{
    display: flex;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin: 1px solid white;
    justify-content: flex-end;
}

.bar-b .menu{
    text-align: end;

}

.top-bar-display{
    display: none;
    background-color: rgb(8, 8, 8);
    border: 0px solid white;
    width: 200px;
    height: 500px;
    position: fixed;
    z-index: 3;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    top: 0;
    right: 0;
}




.modal{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000a9;
    backdrop-filter: blur(10px);
    z-index: 4;
    justify-content: center;
    align-items: center;

}

.popup{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    background-color: #100e0e;
    position: fixed;
    z-index: 5;
    border-radius: 2px;
    align-items: center;
}

select{
    background-color: #100e0e;
    color: rgb(133, 0, 0);
    width: 100px;
    height: 30px;
    
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(66, 4, 4);;

}


.close{
    font-family: Geneva, Verdana, sans-serif;
    background-color: #410202;
    font-size: 1.2rem;
    position: absolute;
    left: 90%;
    top: 2%;
}

.message{
    display: flex;
    color: white;
    width: 70%;
    justify-content: center;
    text-align: center;
}

.m2{
    margin-top: 60px;
}

.continue-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #410202;
    transition: background-color .6s;
}

.continue-btn:hover{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #680000;

}

.main{
    background-image: url("../assets/Banner2.png");
    background-color: #111111;
}

.zone{
    background-color: #111111;
}

.mainH1{
    text-justify: auto;
    padding-left: 20%;
    padding-right: 20%;
    
}


.video-container{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-shadow: inset 100px 100px 100px 100px rgb(0, 0, 0)
}

.top-bar{
    display: flex;
    position: fixed;
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 80px;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    padding: 0%;
    z-index: 4;
    justify-content: center;
}

.bar{
    height: 80px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
    align-content: center;
    margin-right: 20px;
}

.icon{
    width: 40px;
    flex-shrink: 0;
    justify-self: flex-start;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 60px;
}


.display-btn{
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: 20px;
    align-content: center;
}

.playnow-btn{
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    align-content: center;

}
.playnow{
    background-color: rgb(78, 0, 0);
    color: rgb(191, 191, 191);
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
    font-weight: 600;

    transition: background-color 1s;
}

.playnow:hover{
    background-color: rgb(155, 0, 0);
    color: rgb(239, 239, 239);
}

.test-play-now{
    opacity: .6;
    transition: opacity 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.test-play-now:hover{
    opacity: 1;
}

.item{
    height: 500px;
    width: 500px;
    justify-content: center;
    align-content: center;
}

.item0{
    flex: 1;
    flex-shrink: 0;
}

.item1{
    flex: 1;
    flex-shrink: 0;
    margin-right: 200px;
}

.item3{
    flex: 1;
    flex-shrink: 0;
    margin-left: 200px;
}

.item2{
    flex-shrink: 5;
}

.item-blank{
    width: 350px;
    flex-shrink: 5;
}

a.menu{
    background-color: rgba(34, 34, 34, 0);
    color: rgb(255, 255, 255);
    width: auto;
    border-radius: 5%;
    height: 40px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif, sans-serif;
    font-weight: 900;
}

.menu:hover{
    background-color: rgba(34, 34, 34, 0.764);
}

button{
    background-color: rgba(34, 34, 34, 0.764);
    color: white;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 30%;
    text-align: center;
    justify-content: center;
    
}

@media( max-width: 800px){
    .bar-btn1{
        display: none;
    }
    .bar-btn2{
        display: none;
    }
    .bar-btn3{
        display: none;
    }
    .bar-btn4{
        display: none;
    }
    .playnow-btn{
        display: none;
    }
    .item{
        height: 100%;
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
}

@media( min-width: 801px){
    .display-btn{
        display: none;
    }
}

@media( max-width: 1730px){
    .item-blank{
        display: none;
    }
}

@media( max-width: 1360px){
    .bar-btn7{
        display: none;
    }
}

@media( max-width: 1151px){
    .bar-btn6{
        display: none;
    }

    .item1{

        margin-right: 0px;
    }
    
    .item3{

        margin-left: 0px;
    }
}

@media( max-width: 940px){
    .bar-btn5{
        display: none;
    }

    .ca-1{
        font-size: 2rem;
    }

    

}

#audioControlBtn{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 7%;
    color: rgba(255, 255, 255, 0.04);
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    z-index: 1;
}

#iconButton{
    opacity: .5;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
}

#iconButton:hover{
    opacity: 1;
}

#logo{
    position: absolute;

    opacity: 100%;
}

img{
    /* text-align: center;
    align-content: center; */
    margin-top: 3px;

}



.playnow-link{
    position: absolute;
    width: 24%;
    color: white;
    padding: 0px; 
    bottom: 0;
    text-decoration: none;
    text-align: center;
    transition: width 0.5s cubic-bezier(0.0, 0, 0.32, 1);
}

.bar a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color .5s;
}

.page-btn{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 40px;
    top: 0;
}

.bar a:link {
    color: #ededed;
}

.bar a:disabled{
    color: #363636;
}

.bar a:visited {
    color: rgb(240, 240, 240);
}

.bar a:focus {
    background: #ffffff00;
}

.bar a:active {
    background: #ffffff00;
    color: #ffffff;
}

.bar a:hover{
    width: 25%;
    color: #ff0000;
}

p{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5%;
    color: rgb(156, 156, 156);
    font-family:Georgia, Times, 'Times New Roman', serif;;
    font-size: 120%;
    font-weight: 50;

}


h1{
    top: 0;
    margin-top: 10%;
    margin-bottom: 5%;
    color: rgb(224, 224, 224);
    font-family:Georgia, Times, 'Times New Roman', serif;;
    font-size: 1.5rem;
    font-weight: 600;
}

span{
    display: inline;
    margin: auto
}

#tittle{
    text-align: center;
    color: rgb(148, 0, 0);
    font-size: 400%;
    font-weight: 100;
    font-family: GothicPixel;

}


video{
    opacity: 100%;
    filter: brightness(70%);
    box-shadow: inset 100px 100px 100px rgba(24, 24, 24, 0.579);
    z-index: -1;
}

footer{
    display: block;
    width: 1fr;
    height: 300px;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
}

@font-face {
    font-family: GothicPixel;
    src: url("./assets/Fonts/GothicPixel-_2_.woff");
}

@font-face {
    font-family: LittlePixel2;
    src: url("./assets/Fonts/LittlePixel.ttf");
}

@font-face {
    font-family: DefaultPixel;
    src: url("./assets/Fonts/DefaultPixel.woff");
}

@font-face {
    font-family: Revans-Medium;
    src: url("./assets/Fonts/Revans-Medium.woff");
}

@font-face {
    font-family: ClassicaBook;
    src: url("Renegade/assets/Fonts/Classica-Book.woff");
}

@font-face {
    font-family: OLDSH;
    src: url("./assets/Fonts/OLDSH__.woff");
}

@font-face {
    font-family: Constantine;
    src: url("./assets/Fonts/Constantine.woff");
}

input[type="date"]{
    background-color:#0f0000;
    padding: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1b0101;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #410202;
  }
